.main{
    display: flex;
    margin-top: 140px;
    color: white;
}

img{
    filter: invert(55%) sepia(48%) saturate(430%) hue-rotate(202deg) brightness(85%) contrast(102%);
    transform: scale(.6);
}

input{
    height: 40px;
    background-color: #29274b;
    color: white;
    border: 2px solid #29274b;
    outline: none;
    width: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

button{
    margin-top: 30px;
    height: 40px;
    width: 130px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    border-color: #968ff9;
    color: white;
    background-color: transparent;
    transition: 1s;
}

button:hover{
    transition: 1s;
    background-color: #29274b;
}

.mail{
    margin-top: 10px;
    margin-left: 200px;
}

textarea{
    resize: none;
    height: 100px;
    background-color: #29274b;
    color: white;
    border: 2px solid #29274b;
    outline: none;
    width: 400px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;  
}

.error {
    margin-top: 2px;
    color: rgb(170, 55, 55);
    font-size: 0.9em;
  }

.fullname{
    height: 90px;
}

.message{
    height: 150px;
}
