.circle {
  width: 4.5vw;
  height: 4.5vw;
  border-radius: 50%;
  border: 3px solid #968ff9;
  box-shadow: 0 0 5px #968ff9, 0 0 15px #968ff9;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 30px 20px 30px;
  background-color: #111;
  transition: box-shadow 0.1s;
  float: left;

  // 🔥 Add animation on load
  animation: popIn 0.8s cubic-bezier(0.17, 0.89, 0.32, 1.49) both;;
}

@keyframes popIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  60% {
    transform: scale(1.05);
    opacity: 1;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.circle:hover {
  box-shadow: 0 0 10px #968ff9, 0 0 20px #968ff9;
}

.coin {
  width: 80px;
  height: 80px;
  transition: transform 0.3s ease-in-out;
}

.rotating {
  animation: spin 2.5s cubic-bezier(0.25, 1, 0.5, 1) forwards;
}

@keyframes spin {
  0% {
    transform: rotateY(0deg);
  }
  60% {
    transform: rotateY(720deg);
  }
  100% {
    transform: rotateY(1080deg);
  }
}

mat-icon {
  scale: .5;
}

.container{
    width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.inside_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

p {
  padding: 0;
  margin: 0;
    font-size: clamp(10px, 1.5vw, 16px);
  opacity: 0;
  animation: fadeIn 1s ease forwards;
  animation-delay: 3.5s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@media (max-width: 768px) {

  .container{
    width: 90vw;
}

.inside_container{
    margin-bottom: 10px;
}

p{
  font-size: 12px;
}

.circle {
  width: 40px;
  height: 40px;
  margin: 20px;
}

}

@media (max-width: 383px) {

  .circle {
    // width: 37px;
    // height:37px;
    margin: 4vw;
  }  

}

@media (max-width: 323px) {

  .circle {
    width: 10vw;
    height:10vw;
  }  

}