<div class="container">
    <div class="inside_container" *ngFor="let icon of icons; let i = index">
        <div
        class="circle"
        (mouseenter)="startRotation(i)"
        (mouseleave)="stopRotation(i)"
        [ngStyle]="{ 'animation-delay': popInDelays[i] }"
        >
        <mat-icon
            [svgIcon]="icon"
            alt="coin"
            class="coin"
            [ngClass]="{ rotating: rotationStates[i] }"
            [style.animation-play-state]="rotationStates[i] ? 'running' : 'paused'"
        ></mat-icon>
        </div>
        <p>{{icon}}</p>
    </div>
</div>

