    <div class="outer_header">
        <div class="header">
            <h1 id="logo">JOSH</h1>
            <div class="menu_icon">
                <label for="check">
                    <input type="checkbox" [checked]="menu" id="check" (click)="menu_click('')"/> 
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <div class="links_circle" [class.grow]="menu">
                <div class="links" [class.grow]="menu">
                    <p (click)="navigate('home')" class="link" (click)="menu_click('outer')">Home</p>
                    <p (click)="navigate('career')" class="link" (click)="menu_click('outer')">Career</p>
                    <p (click)="navigate('contact')" class="link" (click)="menu_click('outer')">Contact</p>
                </div>
                
            </div>
        </div>
    </div>
    <div class="mobile_menu">
        <div class="inside_menu">
            <p>
                <mat-button-toggle-group class="toggle_button" name="fontStyle" aria-label="Font Style">
                    <mat-button-toggle value="italic" (click)="navigate('career')" [checked]="currectRoute === '/career'">Career</mat-button-toggle>
                    <mat-button-toggle value="bold" (click)="navigate('home')" [checked]="currectRoute === '/home'">Home</mat-button-toggle>
                    <mat-button-toggle value="underline" (click)="navigate('contact')" [checked]="currectRoute === '/contact'">Connect</mat-button-toggle>
                </mat-button-toggle-group>
            </p>
            <!-- <p (click)="navigate('home')">Home</p>
            <p (click)="navigate('career')">Career</p>
            <p (click)="navigate('contact')">Connect</p> -->
        </div>
        
    </div>


    <div class="container" (click)="menu_click('outer')">
        <router-outlet></router-outlet>
    </div>
