.intro_wrapper{
    position: absolute;
    top: 26vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.intro{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

.welcome{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#hey{
    font-size: 20px;
    margin: 0;
}

#im{
    font-size: 150px;
    margin: 0;
}

#name{
    width: 100%;
    font-size: 150px;
    margin: 0;
    -webkit-text-stroke-color: transparent;
    -webkit-text-stroke-width: 3px;
    -webkit-text-fill-color: #0c0c14;
    background-clip: text;
    background-image: linear-gradient(to right, #ede8f5, #968ff9);
}

.name{
    display: flex;
    gap: 40px;
}

#message{
    font-size: 30px;
}

.link_icons{
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: 25px;
}

.svg_link{
    scale: 1.5;
    color: white;
    transition: .2s;
}


.svg_link:hover {
    color: #968ff9;
}

.know_more_button{
    all: unset;
    position: absolute;
    top: 72vh;
    left: 7.5vw;
    height: 40px;
    width: 130px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    border-radius: 50px;
    border-color: #968ff9;
    color: white;
    background-color: transparent;
    transition: 1s;
}

.know_more_butto{
    display: none;
}


.know_more_button:hover{
    transition: 1s;
    background-color: #29274b;
}

.right-arrow{
    padding: 0px;
    margin: 25px;
    background-color: transparent;
    border: none;
    scale: 2;
    transition: .5s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-arrow:active{
    transition: .5s;
    scale: 1.5;
}

.left_arrow{
    transform: rotate(-180deg);
    background-color: transparent;
    border: none;
    scale: 2;
}


#skills{
    color: white;
    font-size: 50px;
}

.right_viewport{
    width: 100vw;
    display: flex;
    justify-content: center;
    color: white;
}

.right_content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.icons{
    display: flex;
    align-items: center;
}

.profile {
    position: absolute;
    z-index: -1;
    top: 72vh;
    left: 7.5vw;
    height: 40px;
    width: 130px;
    border: 1px solid;
    border-radius: 50px;
    border-color: #968ff9;
    background-color: transparent;
    transition: .3s;
    display: grid;
    place-items: center;
    overflow: hidden;
  }
  
  .profile.grow {
    width: 20vw;
    height: 20vw;
    top: 20vh;
    left: 5vw;
    border-radius: 50%;
    border: 0.4vw solid #968ff9;
  }
  
  .inner {
    width: 96%;
    aspect-ratio: 1 / 1;
    border: 2px solid black;
    border-radius: 50%;
    background-image: url("../../../assets/josh_img.png");
    background-size: cover;
  }

.img{
    position: absolute;
    display: grid;
    place-items: center;
    top: 20vh;
    left: 5vw;
}

#about{
    line-height: 30px;
}

#left_icon{
    transform: rotate(180deg);
    scale: 2;
    position: absolute;
    top: 80vh;
    left: 14vw;
}

.info{

    h1{
        font-size: 60px;
        color: #968ff9;
        margin-top: 0;
    }

    position: absolute;
    left: 30vw;
    top: 20vh;
    width: 50vw;
    color: white;
}

.left_arrow_wrapper{
    width: 0;
}

.left_arrow_outer_wrapper{
    width: 0;
    position: absolute;
    top: 75vh;
    transform: translateX(-80%);
    transition: .5s ease-in-out;
}

.right-arrow-outer-wrapper{
    position: absolute;
    top: 75vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
}

.right-arrow-wrapper{
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85vw;
}

@media (max-width: 768px) {
  .intro_wrapper {
    top: 30vh;
  }

  .intro {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 20px;
  }

  .welcome {
    align-items: center;
    text-align: center;
    gap: 20px;
  }

  #hey {
    font-size: 16px;
  }

  #im, #name {
    font-size: 60px;
  }

  #message {
    font-size: 18px;
    margin-top: 10px;
  }

  .name {
    gap: 10px;
  }

  .link_icons {
    flex-direction: row;
    gap: 30px;
    margin-top: 20px;
  }

  .svg_link {
    scale: 1.2;
  }

  .know_more_button {
    all: unset;
    position: absolute;
    top: 63vh;
    left: 35vw;
    height: 40px;
    width: 30vw;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    border-radius: 50px;
    border-color: #968ff9;
    color: white;
    background-color: transparent;
    transition: 1s;
  }

  .profile {
    top: 65vh;
    left: 50%;
    transform: translateX(-50%);
    width: 50vw;
    height: 50vw;
  }

  .profile.grow {
    width: 60vw;
    height: 60vw;
    top: 20vh;
    left: 50%;
    transform: translateX(-50%);
  }

  .inner {
    width: 94%;
  }

  .info {
    top: 70vh;
    left: 5vw;
    width: 90vw;

    h1 {
      font-size: 36px;
    }

    p {
      font-size: 14px;
      line-height: 24px;
    }
  }

  #left_icon {
    top: 92vh;
    left: 47vw;
    scale: 1.5;
  }

  .right-arrow {
    margin: 10px;
    scale: 1.5;
  }

  .right-arrow-wrapper {
    width: 90vw;
  }

  .right-arrow-outer-wrapper {
    display: none;
    top: 85vh;
  }

  .right_viewport {
    margin-top: 50px;
  }

  #skills {
    font-size: 30px;
    text-align: center;
  }

  .icons {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .left_arrow_outer_wrapper {
    top: 85vh;
  }

  .swiper {
    width: 100vw;
    height: 100vh;
    z-index: 10;
  }

  .profile {
    position: absolute;
    z-index: -1;
    top: 72vh;
    left: 50vw;
    height: 0px;
    width: 0px;
    border: 1px solid;
    border-radius: 50px;
    border-color: #968ff9;
    background-color: transparent;
    transition: .3s;
    display: grid;
    place-items: center;
    overflow: hidden;
  }

    .profile.grow {
    width: 30vw;
    height: 30vw;
    top: 15vh;
    // left: 5vw;
    border-radius: 50%;
    border: 0.4vw solid #968ff9;
  }

  .imageandicon{
    display: none;
  }

  .info{
    all: unset;
    width: 100vw;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: justify;
  }

  .info_content{
    position: absolute;
    top: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;

    h1{
      font-size: 25px;
    }

    p{
      font-size: 14px;
    }
  }

  .know_more_button{
    display: none;
  }

  .know_more_butto{
    all: unset;
    height: 40px;
    width: 130px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: 1px solid;
    border-radius: 50px;
    border-color: #968ff9;
    color: white;
    background-color: transparent;
    transition: 1s;
}
}
